<%- include('partials/header') -%>
<div class="ui main text container segment">
    <div class="huge-header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <span>Placed In : <%= blog.company%></span>
            <span >Contact :<%= blog.contact%></span>
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%= blog.body %></p>
               <button class="ui orange basic button"><a href="/blogs/<%=blog._id%>/edit">edit here</a></button> 
               <form id="form1" action="/blogs/<%= blog._id%>?_method=DELETE" method="POST">
               <button class="ui red basic button">Delete</button>
            </form>
            </div>
        </div>
    </div>
</div>
    
    
    

<%- include('partials/footer') -%>